@import 'base/normalize';
@import 'base/colors';
@import 'base/fonts';
@import 'layout/wrapper';

@import 'components/navigation';
@import 'components/experts-list';
@import 'layout/_experts';
@import 'components/map';
@import 'layout/header';
@import 'layout/information-block';
@import 'components/counter';
@import 'components/countdown';
@import 'layout/intro';
@import 'components/inputs';
@import 'components/form';
@import 'components/button';
@import 'components/compani-block';
@import 'layout/highlights';
@import 'layout/statistics';
@import 'layout/sitelinks';
@import 'layout/key-topics';
@import 'components/list-topics';
@import 'components/expert-block';
@import 'layout/attendees';
@import 'components/attendees-list';
@import 'layout/conference';
@import 'components/gallery';
@import 'components/testimonial-block';
@import 'layout/contacts';
@import 'components/secondary-nav';
@import 'layout/footer';



body {
  font-family: $font-family;
  font-size: $font-size;
  -webkit-font-smoothing: antialiased;
  color: $primary-text-color;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

a {
  display: inline-block;
  text-decoration: none;
}

img {
  max-width: 100%;
}


section {
  padding: 35px 0;
}

.section-title {
  font-size: $size-h2;
  text-align: center;
  color: $color-title;
}

.section-description {
  font-size: $size-text;
  font-weight: 300;
  line-height: 1.4;
  color: $primary-text-color;

  @media screen and (max-width: 470px) {
    font-size: $size-text - 4;
  }
}

.block-title {
  font-size: $font-size + 2;
  text-align: center;
  margin-bottom: 25px;
  color: $color-title;
}