.attendees {
	> .wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .section-title {
    width: 100%;
  }

  .block-title {
    text-align: left;
  }

  .producers,
  .suppliers {
    width: 45%;
  }
}