.conference {
	
  &__intro {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /*align-items: stretch;*/
    margin-bottom: 20px;
  }

  &__text-block,
  &__img-block {
    width: 49%;

    @media screen and (max-width: 800px) {
      width: 100%;
    }
  }

  &__list-links {
    border-bottom: 1px solid grey;
  }

  &__link {
    display: block;
    margin-bottom: 15px;
    color: $primary-text-color;

    span {
      color: $link-color;
    }

    &:hover {
      color: #000;

      span {
        color: #000;
      }
    }
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}