.contacts {
	text-align: center;

  > .wrapper {
    padding-bottom: 20px;
  }

	.contact-link {
    font-size: 24px;
		display: inline-block;
    color: $link-color;
    margin-bottom: 8px;

    &:hover {
      color: $link-hover;
    }

    &:nth-of-type(1) {
      margin-right: 20px;
    }
	}
}