.footer {
	padding: 20px 0;
	background-color: #383838;

	> .wrapper {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
	}

	.logo-footer {
  	width: 70px;
  
	  @media screen and (max-width: 640px) {
	    order: 2;
	    margin-top: 10px;
	    margin-left: auto;
	    margin-right: auto;
	  }
	}
}