.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: $primary-bg-color;
  padding: 20px 0;
  box-shadow: 0 1px 5px 2px rgba(0, 0, 0, .2);
  z-index: 5;

  > .wrapper {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    @media screen and (max-width: 840px) {
      position: relative;
      justify-content: center;
    }
  }
}

.active-header {
  padding: 10px 0;
  transition: all .5s ease;
  box-shadow: rgba(0,0,0,.13) 0 4px 16px;
}

.logo {
  width: 160px;
  height: 50px;

  img {
    width: 100%;
  }
}