.information-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  padding-top: 10vh;
  max-width: 100%;
  margin: 0 auto;
  color: #fff;

  &__item {
    font-size: 24px;
    font-weight: 600;
  }

  &__description,
  &__registration {
    display: inline-block;
    width: 45%;

    @media screen and (max-width: 780px) {
      width: 100%;
    }
  }

  .title-h1 {

    @media screen and (max-width: 780px) {
      font-size: 40px;
    }

    @media screen and (max-width: 320px) {
      font-size: 30px;
    }
  }
}