.intro {
  width: 100%;
  min-height: 100vh;
  height: 100%;
  padding: 0;
  background-color: #383838;
	background-image: linear-gradient(to right, rgba(0,0,0,0.40), rgba(0,0,0, .5)), url('../img/intro-bg.jpg');
  background-repeat: no-repeat;
  background-position: center top;
  -webkit-background-size: cover;
  background-size: cover;

  > .wrapper {
    display: flex;
    flex-wrap: wrap;
    min-height: 100vh;
    height: 100%;
    padding-top: 15vh;
  }

  .event-title {
    font-size: 70px;
    line-height: 0.8;

    @media screen and (max-width: 420px) {
      font-size: 40px;
    }

    span {
      padding: 0 5px;
      color: #d17c11;
    }
  }

  .event-description {
    font-size: 20px;
  }

  .scroll {
    width: 100%;
    text-align: center;
    margin-top: auto;

    &__btn {
      font-size: 54px;
      color: #fff;

      i {
        animation: scroll 2s ease infinite;
      }
    }
  }
}


@keyframes scroll {
  0% {
    transform: translateY(-15px);
  }

  50% {
    transform: translateY(0px);
  }

  100% {
    transform: translateY(-15px);
  }
}