.wrapper {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;

  @media screen and (max-width: 470px) {
    padding-left: 15px;
    padding-right: 15px;
  }
}