.compani-block {
  display: inline-block;
  max-width: 200px;
  margin: auto;
	
  img {
    max-width: 100%;
  }
}

.companies {
  padding-top: 30px;
}

.compani-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: flex-start;
}