.counter {
  color: #383838;
  background-color: #ffffff;
}

.indicators {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-top: 20px;

  @media screen and (max-width: 470px) {
    /*flex-direction: column;*/
    align-items: center;
  }

  &__block {
    min-width: 100px;
    max-width: 250px;
    width: 33%;
    text-align: center;
    padding-top: 20px;
    margin-bottom: 20px;
    color: #383838;

    @media screen and (max-width: 1000px) {
      max-width: 150px;
    }

    @media screen and (max-width: 470px) {
      width: 50%;
    }
  }

  &__value {
    font-weight: 600;
    font-size: 60px;
  }

  &__plus {
    font-size: 28px;
  }

  span {
    vertical-align: middle;
  }

  &__info {
    font-size: 22px;
    margin: 0;
  }
}