.countdown {
  max-width: 997px;
  width: 100%;
  max-height: 50px;
  margin: 0 auto;
  padding: 50px 0;
  text-align: center;

  display: flex;
  justify-content: space-around;
}

.date {
  position: relative;
  font-size: 50px;
  text-align: center;
  display: inline-block;
  color: $count-color;

  @media screen and (max-width: 420px) {
    font-size: 30px;
  }

  &:not(:last-child) {
    padding-right: 9%;

    @media screen and (max-width: 640px) {
      padding-right: 0;
    }
  }

  &:not(:last-child)::after {
    position: absolute;
    content: "";
    width: 2px;
    height: 100%;
    top: 0;
    right: 0;
    background-color: $count-color;

    @media screen and (max-width: 640px) {
      width: 0;
      height: 0;
    }
  }

  span {
    font-size: 14px;
    display: block;
  }
}