.expert-block {
  min-width: 170px;
  max-width: 200px;
  width: 25%;
  margin-bottom: 15px;
  color: #333;
  text-align: center;
  list-style: none;
  z-index: 1;

  &__img {
    display: inline-block;
    max-width: 170px;
    width: 100%;
    height: 170px;
    border-radius: 50%;
    overflow: hidden;
    -webkit-box-shadow: inset 0 0 1px 5px $expert-border-color;
            box-shadow: inset 0 0 1px 5px $expert-border-color;
    z-index: 2;

    img {
      position: relative;
      width: 100%;
      z-index: -1;
    }
  }

  &__name {
    position: relative;
    display: inline-block;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 7px;

    &::after {
      position: absolute;
      content: "";
      width: 100%;
      height: 2px;
      bottom: -2px;
      left: 50%;
      -webkit-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
              transform: translateX(-50%);
      background-color: $expert-name-bg;
    }
  }

  &__position,
  &__company {
    line-height: 16px;
    margin-bottom: 0;
  }

  &__company {
    font-weight: 600;
    text-transform: uppercase;
    color: $expert-name-bg;
  }
}