.register-form {

  background-color: rgba(0, 0, 0, .2);
  padding: 25px;
	
	&__field {
		width: 100%;
		margin-bottom: 10px;
		color: #ffffff;
		background-color: transparent;
	}

	.btn {
		position: relative;
		margin-top: 15px;
		color: #383838;
		background-color: $btn-bg;

		&:hover {
			background-color: lighten($btn-bg, 15%);
		}
	}
}