.gallery {
	display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @media screen and (max-width: 800px) {
    display: none;
  }

  &__one-image,
  &__images {
    width: 49%;
    height: 100%;
  }

  &__images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__img-block {
    width: 100%;
    height: 100%;

    &--small {
      max-width: 48%;
      max-height: 270px;

      &:nth-child(1),
      &:nth-child(2) {
        margin-bottom: 20px;
      }
    }
  }
}