input[type="text"],
input[type="email"],
input[type="tel"] {
  max-height: 40px;
  font-size: 14px;
  padding: 15px 20px;
  border: 1px solid #ffffff;
  border-radius: 2px;
  box-sizing: border-box;
  outline: none;

  &:focus {
    border-color: $link-color;
  }
}