.mobile-block {
  margin: 0 auto;
  transition: transform .5s ease;

  @media screen and (max-width: 840px) {
    position: fixed;
    width: 100%;
    height: 100vh;
    min-height: 100%;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 10vh;
    align-items: center;
    top: 0;
    left: 0;
    background-color: $primary-bg-color;
    transform: translateX(-100%);
  }
}

.mobile-btn {
  position: absolute;
  display: none;
  flex-direction: column;
  justify-content: space-around;
  width: 40px;
  height: 40px;

  left: 0;
  padding: 10px;
  background-color: $link-color;
  cursor: pointer;

  @media screen and (max-width: 840px) {
    display: flex;
  }

  &__item {
    display: block;
    width: 100%;
    height: 2px;
    background-color: $primary-bg-color;
    transition: all .5s ease;
  }
}

.navigation {
  /*min-width: 700px;*/
  width: 100%;

    @media screen and (max-width: 840px) {
      max-width: 100%;
    }

  &__list {
    width: 100%;
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 840px) {
      flex-direction: column;
    }
  }

  &__item {

    &:not(:last-child) {
      margin-right: 30px;
    }

    @media screen and (max-width: 840px) {
      
      &:not(:last-child) {
        margin-right: 0;
      }

      margin-right: 0;
      text-align: center;
      margin-top: 3vh;
    }
  }

  &__link {
    position: relative;
    display: block;
    font-size: 13px;
    font-weight: 600;
    padding: 5px 0;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    color: $primary-text-color;

    @media screen and (max-width: 840px) {
      display: inline-block;
      padding: 25px 40px;
    }

    &::after {
      position: absolute;
      content: "";
      width: 0;
      height: 2px;
      background-color: $link-color;
      bottom: 0;
      left: 0;
      transition: width .5s ease;
    }

    &:hover::after {
      width: 100%;
    }

    &:hover {
      color: #d17c11;
    }
  }
}

.active-menu {
  transform: translateX(0);
}

.active-link {
  color: $link-color;
}

.rotate-left {
  transform-origin: left;
  transform: rotate(43deg);
  margin-left: 3px;
}

.rotate-right {
  transform-origin: left;
  transform: rotate(-43deg);
  margin-left: 3px;
}

.hidden {
  transition: visibility .1s ease;
  visibility: hidden;
}