.secondary-nav {
  margin-left: auto;

  @media screen and (max-width: 640px) {
      width: 100%;
      order: 1;
    }

  &__list {
    display: flex;
    flex-wrap: wrap;
    
    @media screen and (max-width: 640px) {
      justify-content: space-around;
    }

    @media screen and (max-width: 480px) {
      flex-direction: column;
    }

  }

  &__item {

    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  &__link {
    font-size: 14px;
    color: $secondary-text-color;

    @media screen and (max-width: 480px) {
      padding: 5px 0;
    }

    &:hover {
      color: #ffffff;
    }
  }
}