.testimonial-block {
  display: inline-block;
	max-width: 350px;
  vertical-align: top;
  text-align: center;

  @media screen and (max-width: 800px) {
    max-width: 100%;
  }

  blockquote {
    margin: 15px;
  }

  &__text {
    position: relative;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.4;
    text-align: left;
    padding-left: 20px;

    @media screen and (max-width: 800px) {
      font-size: 16px;
      margin-top: 0;
    }

    i {
      position: absolute;
      font-size: 16px;
      left: 0;
      top: 0;
    }
  }

  img {
    height: 100px;
    object-fit: contain;
  }
}

.testimonial-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}