$primary-bg-color: #fcfcfc;
$secondary-bg-color: #777777;

$primary-text-color: #666666;
$secondary-text-color: #bbbbbb;

$color-title: #333333;
$count-color: #ffffff;

$expert-border-color: rgba(254, 203, 78, .7);
$expert-name-bg: rgb(24, 158, 179);

$btn-bg: #d1d1d1;

$link-color: #337ab7;
$link-hover: #666666;

$link-nav: #ffffff;

